/**app.wxss**/
page {
  height: 100%;
  box-sizing: border-box;
  --td-brand-color: #5bb43b;
  --td-brand-color-light: rgba(91, 180, 59, 0.1);
  --td-brand-color-focus: rgba(91, 180, 59, 0.2);
  --td-brand-color-active: #4a9a30;
  --td-brand-color-disabled: rgba(91, 180, 59, 0.4);
}
